.menu-bar, .tool-bar, .split-pane {
    -fx-background-color: #323232;
}

.label {
    -fx-text-fill: #d8d8d8;
}

.menu-bar .menu-button {
    -fx-margin: 0.33333em 1.083333em 1.666667em 0.083333em;
    -fx-border-width: 0 0 2 0;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: #272727;
    -fx-text-fill: #d8d8d8;
    -fx-background-radius: 6 6 6 6;
}

.menu-item .label {
    -fx-text-fill: #d8d8d8;
}

.menu-item:focused {
    -fx-background-radius: 3;
}

.context-menu {
    -fx-background-color: #272727;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}

.button, .split-menu-button {
    -fx-background-radius: 3;
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-focus-color: none;
}

.split-menu-button > .label, .split-menu-button .arrow-button {
    -fx-background-color: #3c3c3c;
}

.split-menu-button .arrow-button {
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #d8d8d8;
}

.split-pane > .split-pane-divider {
   -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab {
    -fx-background-color: #3c3c3c;
    -fx-focus-color: none;

}

.tab-pane .tab:hover, .button:hover, .menu-item:focused, .table-view .column-header:hover, .split-menu-button > .label:hover, .split-menu-button .arrow-button:hover {
    -fx-background-color: #414141;
    -fx-cursor: hand;
}

.tab-pane .tab:selected {
    -fx-background-color: #272727;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #bc0404;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #d8d8d8;
}

.tab-down-button {
    -fx-background-color: #272727;
}

.arrow {
    -fx-background-color: #d8d8d8;
}

/* idk 
.table-cell {     
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-font: 13px "Segoe UI";    
    -fx-border-insets: 0;
}

.table-cell:hover {
    -fx-background-color: #9900ff;
}

.table-row-cell:empty, .table-cell:empty:hover {
    -fx-background-color: whitesmoke;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
 
.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: rgba(28, 183, 236, 0.25);
}

.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: rgba(228, 183, 236, 0.90);
}

.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: rgba(28, 183, 236, 0.65);
} */

.table-view, .table-view:focused, .code-area {
  -fx-background-color: #232834;
  -fx-background-radius: 3;
}

.table-view .column-header .label{
    -fx-alignment: CENTER;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #3c3c3c;    
    -fx-size: 45;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.table-view .filler {
    -fx-width: 100%;
}

.table-view .column-header-background {
    -fx-background-color: red;
}

/* not use 
.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: 0;
} */

.code-area .text {
    -fx-fill: whitesmoke;
    /*-fx-font-weight: bold;*/
    -fx-font-size: 14;
}

.codePrimary .paragraph-box:has-caret {
    -fx-background-color: rgba(64, 64, 64, 0.3);
}

.lineno {
    -fx-background-color: #bc0404;
    -fx-text-fill: #d8d8d8;
    -fx-font-weight: bold;
}

.keyword {
    -fx-fill: #d55fde !important;
    -fx-font-weight: bold;
}

.number {
    -fx-fill: #d19a66 !important;
}

.paren {
    -fx-fill: #85ccf8 !important;
}

.brace {
    -fx-fill: #f5ce02 !important;
}

.operator, .semicolon {
    -fx-fill: #289ea9 !important;
}

.string {
    -fx-fill: #80bd72 !important;
}

.comment {
    -fx-fill: #747883 !important;
}

.identifier {
    -fx-fill: #e2556b !important;
}